{% extends "base.html" %}
{% set active_page = 'index' %}
{% block title %}Welcome to  CEU ICT TechSupport{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron bg-white">
    <div align="center">
      <h1>Welcome to CEU ICT TechSupport</h1>
      <br>
      <h3>About</h3>
      <br>
      <p>The CEU TechSupport is a web page created to help the community of Centro Escolar University mostly employees of different departments in reporting technical difficulties conveniently and by using the website, Technicians would be able to check the reports and provide assistance immediately.</p>
      <p>The general objective of this web-based application is to develop a web-based application that provides support specifically on the technical aspect of the computer related problems in Centro Escolar University Manila Departments and to develop a web-based application that will help the ICT Department take immediate action on technical difficulties of different departments of CEU.</p>
      <p>The CEU TechSupport will also give the technicians a summary of the problems reported by employees of the different departments inside CEU-Manila Campus. It will ease the trouble shooting process conducted by the IT technicians and provide faster response to the problem reported. It will also provide a real time track of the status attended on those computers related problems</p>
      <br>
      <div class="row">
        <div class="col">
          <h3>By:</h3>
          <p>Alexzandra M. Ybanez, BSCPE</p>
          <p>Eujohn C. Magno, BSCPE</p>
          <p>Billy Joe T. Natividad, BSCPE</p>
          <p>Romnick B. Saclolo, BSCPE</p>
          <p>Ralph Vincent T. De Torres, BSIT</p>
          <br>
          <p><strong>Dr. Ma. Theresa Albufera</strong></p>
          <p>Adviser</p>

        </div>

      </div>

    </div>
  </div>
</div>
{% endblock %}
