{% extends "base.html" %}
{% block links %}
<link rel="stylesheet" type="text/css" href="/static/datatable/datatables.css">
<script src="/static/datatable/datatables.js"></script>
{% endblock %}
{% block title %}All Reports{% endblock %}
{% block content %}

<div class="container">
  <script>
  $(document).ready( function () {
  $('#open').DataTable({
    "aaSorting": []
  }
  );
  } );
  </script>
  <table id="open" class="display">
    <thead>
      <tr>
        <th>Date Submitted</th>
        <th>Status</th>
        <th>Track Code</th>
        <th>Owner of ticket</th>
        <th>Assigned to</th>
        <th>Problem</th>
        <th>Department</th>
        <th>More Info</th>
      </tr>
    </thead>
    <h3 align="center">All Reports</h3>
    <tbody>
      {% for ticket,user in tickets %}
      <tr>
        <td>{{ticket.date_requested.strftime('%B %d, %Y, %I:%M %p')}}</td>
        <td>{{ticket.status}}</td>
        <td>{{ticket.track_code}}</td>
        <td><a href="{{url_for('common.user_page',email=user.email)}}" target="_blank">{{user.firstname}} {{user.lastname}}</a></td>
        <td>{% if ticket.assigned_to %}
          <a href="{{url_for('common.user_page',email=ticket.assigned_to)}}" target="_blank">{{ticket.assigned_name}}</a>
          {% else %}None{% endif %}
          </td>
        <td>{{ticket.title}}</td>
        <td>{{ticket.department}}</td>
        <td><a href="{{url_for('requests.tickets_view',ownerid=ticket.owner_id,ticketno=ticket.id)}}">Details</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
{% endblock %}
